<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Megna's App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="/js/css/session.css" rel="stylesheet" type="text/css">

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    
    <style>
        body { padding-top:50px; }
    </style>
</head>

<body class="container">
    <header>
        <%- include('header'); %>
    </header>
    <p>   Current Session ID: <%= sessionId %>   </p>
    
    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>


    <script src="/js/stream.js"></script>
    <main>
        <div class="jumbotron">
            <form action="/start" method ="POST">
                <h5>Recording Name: </h5>
                <input type="" name = "recording" placeholder="Enter Recording name " id ="archiveName" required>
                <input type="submit" value="Start Recording">
            </form>
        </div>
      </main>
    
   
</body>
</html>